@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-main: #e0d8cc;
    /* Soft Earth / Clay */
    --bg-card: #ffffff;
    --text-main: #0f172a;
    --text-card: #0f172a;
    --border-main: #f1f5f9;
    --brand-primary: #4da7a7;
    /* Clicando Turquoise */
    --brand-dark: #3a8282;
  }

  .dark {
    --bg-main: #404040;
    /* Lightened Neutral Gray */
    --bg-card: #f8fafc;
    --text-main: #f1f5f9;
    --text-card: #0f172a;
    --border-main: rgba(255, 255, 255, 0.1);
  }
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  transition: background-color 0.3s, color 0.3s;
}

.premium-card {
  background-color: var(--bg-card);
  color: var(--text-card);
  border: 1px solid var(--border-main);
  @apply shadow-xl rounded-[2.5rem] transition-all;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}